* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#CAE4DB;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.navbar {
  display: flex;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

p {
  color: #CAE4DB;
}
.container {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}
  .row {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
    margin-left: 150px;

    /* top and bottom 50 left and right 0 */
  }
  .col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  .btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 5px;
    transition: background 0.5s;
  }
  
  .btn:hover {
    background-color: #563434; /* Green */
    color: #fff;
  }
  
  .header {
    background: radial-gradient(#fff, #ffd6d6);
  }
  
  .header .row {
    margin-top: 20px;
  }
  
  .categories {
    margin: 70px 0;
  }
  
  .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
  }
  
  .col-3 img {
    width: 100%;
  }
  
  .small-container {
    max-width: 1250px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  
  .col-4 img {
    width: 100%;
  }
  
  .title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
  }
  
  .title::after {
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  h4 {
    color: #555;
    font-weight: normal;
  }
  
  .col-4 p {
    font-size: 14px;

  }
  
  .rating .fa {
    color: #ff523b;
  }
  
  .col-4:hover {
    transform: translateY(-5px);
  }
  
 /* footer */
 .footer {
  background: #00303F;
  color: #CAE4DB;
  font-size: 14px;
  padding: 50px 130px 20px 130px;
  }
  .container2 {
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #00303F;
    color: #CAE4DB;
  }

.footer h3 {
  color: #CAE4DB;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 10px;
  color: #CAE4DB;

}

.footer-col-1 {
  flex-basis: 30px;

}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 100px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
  border-radius: 12px;
}


.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
/* Media Quer for menu */

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

  

  
  /* Cart Items Details */
  .cart-page {
    margin: 50px auto;
    color: #00303F;

  }
  table {
    width: 100%;
    border-collapse: collapse;
    color: #00303F;
  }
  
  .cart-info {
    display: flex;
    flex-wrap: wrap;
    color: #00303F;
    font-weight: bold;

  }

  th {
    text-align: left;
    padding: 10px;
    color: #00303F;
    background: #DCAE1D;

  }
  td {
    padding: 10px 15px;

  }
  td input {
    width: 50px;
    height: 50px;
    padding: 5px;
    text-align: center;
    color: #00303F;
    font-weight: bold;
    border: none;


  }
  td a {
    color: #DCAE1D;
    font-size: 12px;

  }
  
  td img {
    width: 80px;
    height: 110px;
    margin-right: 15px;

  }
  .total-price {
    display: flex;
    justify-content: flex-end;

  }
  
  .total-price table {
    border-top: 3px solid #DCAE1D;
    width: 100%;
    max-width: 550px;


  }
  td:last-child {
    text-align: right;
    font-weight: thin;
    


  }
  th:last-child {
    text-align: right;

  }
  td:first-child {
    font-weight: bold;
  
  }
  p {
    font-size: 15px;
    color: #CAE4DB;
    
  }
  
  
  