* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
  .header {
    background-color: white;
  }
/* la barre de navigation*/
  .barre_nav{
    display: flex;
    align-items: center;
    padding: 10px;
  }
  nav {
    flex: 1;
    text-align: right;  
  }
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 30px;
  }
  
nav a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

/*rectangle bleu*/

  .div1{
    background: rgb(202,228,219);
    padding: 10px;
  }

/* lien hyper*/

  a {
    text-decoration: none;
    color: #555;
  }

  /* paragraphe*/

  p{
    font-family: 'Roboto', sans-serif;
}

/*les titres*/

  h2{
    color:rgb(0, 0, 0);
    font-size: 28;
    font-style: bold;
    text-decoration: underline;
  }
  h4 {
    color:rgb(0, 0, 0);
    font-weight: normal;
    font-size: 18;
  }
   /* boutton*/
  .boutton {
    display: inline-block;
    background: rgb(220, 174, 29);
    color: #fff;
    padding: 8px 30px;
    margin: 40px 0;
    border-radius: 5px;
    transition: background 0.5s;
  }
  .boutton:hover {
    background-color:rgb(220, 174, 29);
    color: #fff;
  }
/* produit avec detail*/
 .produit {
    margin-top: 90px;
  }
  .produit .colonne2 img {
    padding: 0;
  }
  
  .produit .colonne2 {
    padding: 10px;
  }

  .produit h2 {
    margin: 10px 0;
    font-size: 40px;
    font-weight: bold;
  }
  
  .produit h4 {
    margin: 20px 0;
    font-size: 30px;
    font-weight: bold;
    color:rgb(41, 40, 40)
  }
 
  .produit input {
    width: 45px;
    height: 40px;
    padding-left: 12px;
    font-size: 18px;
    margin-right: 10px;
    border: 0.5px solid rgb(220, 174, 29);
  }
  /* les conteneur*/
  .conteneur1 {
    margin: auto;
    max-width: 1300px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .conteneur2 {
    margin: auto;
    max-width: 1100px;
    padding-left: 25px;
    padding-right: 25px;
  }
  /* les lignes*/

  .ligne {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .ligne2 {
    margin: 100px auto 50px;
    justify-content: space-between;;
  }
  /* les colonnes*/
  .colonne2 {
    flex-basis: 50%;
    min-width: 310px;
  }
  .colonne2 img {
    max-width: 100%;
    padding: 50px 0;
  }
  .colonne2 h1 {
    font-size: 52px;
    line-height: 62px;
    margin: 25px 0;
  }

  .colonne1 {
    flex-basis: 25%;
    padding: 12px;
    min-width: 210px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  
  .colonne1 img {
    width: 100%;
  }
  .colonne1:hover {
    transform: translateY(-5px);
  }

  /* footer */
  .footer {
    background: #00303F;
    color: #CAE4DB;
    font-size: 14px;
    padding: 50px 0 20px;
    }

  .footer h3 {
    color: #CAE4DB;
    margin-bottom: 20px;
  }
  
  .F_colone1 {
    flex-basis: 30px;
    min-width: 250px;
    margin-bottom: 10px;
  }
  
  .F_colone2 {
    flex: 1;
    text-align: center;
    min-width: 250px;
    margin-bottom: 10px;
  }

  .F_colone2 img {
    width: 100px;
    margin-bottom: 20px;
  }
   .F_colone3 {
    flex-basis: 12%;
    text-align: center;
    min-width: 250px;
    margin-bottom: 10px;
  }
  .F_colone4 {
    flex-basis: 12%;
    text-align: center;
    min-width: 250px;
    margin-bottom: 10px;
  }
  ul {
    list-style-type: none;
  }
  .app-logo {
    margin-top: 20px;
  }
  .app-logo img {
    width: 140px;
    border-radius: 12px;
  }
  
