 body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
 /*header*/
  .header {
    background-color: white;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  nav {
    flex: 1;
    text-align: right;
  }
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  nav ul li {
    display: inline-block;
    margin-right: 30px;
  }    
  nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
  }
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .row {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
    margin-left: 150px;
  }
  a {
    text-decoration: none;
    color: #555;
  }
/*account page*/

  .account-page {
    padding: 10px 0;
    background-color:  #CAE4DB;
  }
  .form-container {
    background: #fff;
    width: 320px;
    height: 350px;
    position: relative;
    text-align: center;
    padding: 30px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #000;
    cursor: pointer;
    width: 100px;
    display: inline-block;
  }
  
  .form-btn {
    display: inline-block;
  }

  .form-container form {
    max-width: 300px;
    padding: 10px 20px;
    position: absolute;
    transition: transform 1s;
  }
  form input {
    width: 100%;
    height: 30px;
    margin: 10px 0 0 -20px;
    padding: 0 20px ;
    border: 1px solid #c4c4c4;
  }
  
  form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 10px 0 -10px;
    
  }
  form .btn:focus {
    outline: none;
  }
  #LoginForm {
    left: -280px;
    top: 100px;
  }
  #RegForm {
    left: 20px;
    top: 80px;
  }
  
  form a {
    font-size: 12px;
    
  }


  #indicator {
    width: 100px;
    border: none;
    background: #DCAE1D;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
  }
  .btn {
    display: inline-block;
    background: #DCAE1D;
    color: #000;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 5px;
    transition: background 0.5s;
    font-weight: bold;
  }

  .btn:hover {
    background-color: #00303F; /* Green */
    color: #fff;
  }
  /* footer */
 .footer {
    background: #00303F;
    color: #CAE4DB;
    font-size: 14px;
    padding: 50px 0 20px;
    }

  .footer h3 {
    color: #CAE4DB;
    margin-bottom: 20px;
  }
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 250px;
    margin-bottom: 10px;
  }
  
  .footer-col-1 {
    flex-basis: 30px;
  }
  
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }

  .footer-col-2 img {
    width: 100px;
    margin-bottom: 20px;
  }
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  ul {
    list-style-type: none;
  }
  .app-logo {
    margin-top: 20px;
  }
  .app-logo img {
    width: 140px;
    border-radius: 12px;
  }