body {
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* header*/
.header {
    
  background-color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navbar {
    display: flex;
    align-items: center;
    padding: 10px ;   
}
nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
 }
  
nav ul li {
    display: inline-block;
    margin-right: 30px;
 }
   nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
  } 
  a {
    text-decoration: none;
    color: #555;
  }
  
 p {
  color: #CAE4DB;
 }
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .row {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .col-2 {
    flex-basis: 50%;
    min-width: 500px;
    padding: 0 120px ;
  }
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
  }
  .col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  .btn {
    display: inline-block;
    background: #DCAE1D;
    color: #000;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 5px;
    transition: background 0.5s;
  }
  
  .btn:hover {
    background-color: #00303F; 
    color: #fff;
  }
  
  .header .row {
    margin-top: 0px;
    
  }
  .explore{
    background-color: #CAE4DB;
    padding-top: 2px;
  }
  

  
  .categories {
    margin: 70px 0;
  }
  
  .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
  }
  
  .col-3 img {
    width: 100%;
  }


  
  
  .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  /* -----Testimonial----- */

.testimonial {
    padding-top: 100px;
  }
  .testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
  }
  .testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
  .testimonial .col-3:hover {
    transform: translateY(-10px);
  }
  
  
  
  .col-3 p {
    font-size: 14px;
    margin: 12px 0;
    color: rgb(14, 11, 11);
  }
  
  .testimonial .col-3 h3 {
    font-weight: 600;
    color: rgb(14, 11, 11);
    font-size: 16px;
  }
  
  /* brands */
  
  .brands {
    margin: 100px auto;
  }
  .col-5 {
    width: 160px;
  }
  .col-5 img {
    width: 100%;
    cursor: pointer;
    padding-top: 100px;
  }
  /* footer */
  .footer {
    background: #00303F;
    color: #CAE4DB;
    font-size: 14px;
    padding: 50px 0 20px;
  }
  .footer p {
    color: #CAE4DB;
  }
  .footer h3 {
    color: #fff;
    margin-bottom: 20px;
  }
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 250px;
    margin-bottom: 10px;
  }
  
  .footer-col-1 {
    flex-basis: 30px;
  }
  
  .footer-col-2 {
    flex: 2;
    text-align: center;
  }
  .footer-col-2 img {
    width: 100px;
    margin-bottom: 20px;
  }
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  ul {
    list-style-type: none;
  }
  .app-logo {
    margin-top: 20px;
  }
  .app-logo img {
   width: 140px;
   border-radius: 12px;
  }
  /* Media Quer for menu */

@media only screen and (max-width: 800px) {
    nav ul {
      position: absolute;
      top: 70px;
      left: 0;
      background: #333;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
    }
    nav ul li {
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a {
      color: #fff;
    }
   
  